#profiles {
    padding: 50px 0;
    background-color: #f5f7fa;
    text-align: center;
}

#profiles h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #2c3e50;
    font-weight: 600;
}

.profile-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 40px;
    justify-items: center;
}

.profile-card {
    text-decoration: none;
    color: #34495e;
    background-color: #fff;
    border: 1px solid #e3e6e8;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.icon-wrapper {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.icon-wrapper img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.profile-card:hover .icon-wrapper img {
    transform: scale(1.2);
}

.profile-card span {
    font-size: 16px;
    font-weight: bold;
    color: #2c3e50;
}
